/*********************MIXT*************************/

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 13% 15%;
    border: solid 1px black;
}

header,
footer {
    padding: 1%;
    text-align: center;
    border: solid 1px black;
}

form {
    padding: 2%;
    border: solid 1px black;
}

input {
    width: 25%;
    border: solid 1px;
    padding: 1%;
    margin-bottom: 0.7%;
}

button {
    padding: 0.5% 2.5%;
    background-color: black;
    color: #fff;
    border: solid 4.5px #385D8A;
    cursor: pointer;
    margin-top: 1.5%;
}

button:hover {
    background-color: rgb(7, 45, 149);
}

.copy {
    font-size: larger;
    color: red;
}

/*********************LOGINGFORM*************************/

#loginForm label {
    margin-left: 13%;
    margin-right: 15%;
}


#resetBtn {
    margin-left: 58%;
    margin-right: 0.5%;
}

/*********************RESULTFORM*************************/

#resultForm label {
    margin-left: 3%;
    margin-right: 20%;
}

#resultForm input[name="username2"] {
    cursor: not-allowed;
}

#resultForm button {
    float: right;
    margin-right: 12%;
    margin-top: -6%;
}
